<head>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 <link rel="stylesheet" href="~/css/bw.css" />
</head>


<div class="photo">
    <div class="image-group">
        <img src="img/cehlsey2.png"/>
        <img src="img/kayla.png"/>
        <img src="img/ameila.png"/>
    </div>
    <div class="image-group">
        <img src="img/building.png"/>
        <img src="img/ben1.png"/>
        <img src="img/sedona.png"/>
    </div>
       <div class="image-group">
        <img src="img/dog1.png"/>
        <img src="img/mender.png"/>
        <img src="img/dog2.png"/>
    </div>
    <div class="image-group">
        <img src="img/dolls.png"/>
        <img src="img/pig.png"/>
        <img src="img/snake.png"/>
    </div>
       <div class="image-group">
        <img src="img/boy1.png"/>
        <img src="img/cali.png"/>
        <img src="img/boy2.png"/>
    </div>
    <div class="image-group">
        <img src="img/ben3.png"/>
        <img src="img/ben2.png"/>
        <img src="img/ben4.png"/>
    </div>
       <div class="image-group">
        <img src="img/car1.png"/>
        <img src="img/sushi.png"/>
        <img src="img/cars.png"/>
    </div>
    <div class="image-group">
        <img src="img/ben5.png"/>
        <img src="img/welcome.png"/>
        <img src="img/alexys.png"/>
    </div>
    <div class="image-group">
         <img src="img/alexys2.png"/>
        <img src="img/morgan.png"/>
        <img src="img/multi.png"/>
    </div>
    <div class="image-group">
        <img src="img/abandoned.png"/>
        <img src="img/circus.png"/>
        <img src="img/tower.png"/>
    </div>
</div>