body{
    background-color:white;
}


.photo {
    text-align: center;
}

.image-group {
    display: flex; /* Use flexbox to create a row layout */
    justify-content: space-between; /* Spread images evenly within the row */
    margin-bottom: 20px; /* Add some spacing between rows */
}

    .image-group img {
        width: calc(33.33% - 5px); /* Calculate image width for 3 images with spacing */
        margin: 0 5px; /* Add spacing between images */
        max-width: 100%; /* Ensure images don't exceed their container */
    }
