/* Important stuff for this demo. */
body {
    background-image:linear-gradient(to right,grey, white);
}
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.pics_in_a_row {
    display: flex;
}

.img1 {
    flex: 1.3344;
}

.img2 {
    flex: 1.3345;
}

.img3 {
    flex: 0.7505;
}

.img4 {
    flex: 1.5023;
}

.img5 {
    flex: 0.75;
}



.photo {
    text-align: center;
}

.image-group {
    display: flex; /* Use flexbox to create a row layout */
    justify-content: space-between; /* Spread images evenly within the row */
    margin-bottom: 20px; /* Add some spacing between rows */
}

    .image-group img {
        width: calc(33.33% - 5px); /* Calculate image width for 3 images with spacing */
        margin: 0 5px; /* Add spacing between images */
        max-width: 100%; /* Ensure images don't exceed their container */
    }