<head>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 <link rel="stylesheet" href="~/css/work.css" />
</head>

<div class="photo">
    <div class="image-group">
        <img src="img/tara1.jpg"/>
        <img src="img/acy1.jpg"/>
        <img src="img/tara2.jpg"/>
    </div>
    <div class="image-group">
        <img src="img/acy4.jpg"/>
        <img src="img/acy2.jpg"/>
        <img src="img/acy3.jpg"/>
    </div>
       <div class="image-group">
        <img src="img/jess1.jpg"/>
        <img src="img/tara3.jpg"/>
        <img src="img/jess4.png"/>
    </div>
    <div class="image-group">
        <img src="img/nicki1.jpg"/>
        <img src="img/clowncolor2.jpg"/>
        <img src="img/nicki2.jpg"/>
    </div>
       <div class="image-group">
        <img src="img/nicki3.jpg"/>
        <img src="img/clowncolor1.jpg"/>
        <img src="img/nicki4.jpg"/>
    </div>
    <div class="image-group">
        <img src="img/chris1.png"/>
        <img src="img/girlwater.png"/>
        <img src="img/chris2.png"/>
    </div>
       <div class="image-group">
        <img src="img/jess3.png"/>
        <img src="img/jess2.png"/>
        <img src="img/jess5.png"/>
    </div>
    <div class="image-group">
        <img src="img/girl1.png"/>
        <img src="img/jess6.png"/>
        <img src="img/girl2.png"/>
    </div>
    <div class="image-group">
         <img src="img/clownbw1.jpg"/>
        <img src="img/aaron2.jpg"/>
        <img src="img/brian.png"/>
    </div>
    <div class="image-group">
        <img src="img/aaron1.jpg"/>
        <img src="img/lindsey1.jpg"/>
        <img src="img/josh.jpg"/>
    </div>
</div>
