@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px"></h1>
    <h3></h3>
    <button></button>
  </div>
</div>

<p>My name is Miah Harper and I am a photographer.</p>
<p>I have been curating my craft for the past 16 years now. 
 I first picked up a camera when I was 14 years old and fell in love instantly.
 For the first 14 years I strictly used film. Recently, I have switched to digital.</p>

